+++
title = "FSE Documentation PoC"
linkTitle = "FSE Documentation PoC"

+++

{{< blocks/cover title="Welcome to FOLIO FSE documentation PoC" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/For libraries" >}}">
		For libraries <i class="fas fa-book-reader ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/For data migrators" >}}">
		For data migrators <i class="fas fa-luggage-cart ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/FOLIO-FSE/folio-fse.github.io">
		Contribute <i class="fab fa-github ml-2 "></i>
	</a>

	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
More text on the docs and what they are for

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-book-reader" title="FSE documentation for libraries" url="/docs/for-libraries/" %}}
Something good with the docs

{{% /blocks/feature %}}



{{% blocks/feature icon="fa-luggage-cart" title="Documentation for our data migration toolkit!" url="/docs/for-data-migrators/" %}}
More stuff here
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/FOLIO-FSE" %}}
Do you have suggestions for either document or tooling improvments? We are open to contributions!
{{% /blocks/feature %}}


{{< /blocks/section >}}