+++
title = "FSE Documentation PoC"
linkTitle = "FSE Documentation PoC"

+++

{{< blocks/cover title="Welcome to FOLIO FSE customer documentation PoC" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/FOLIO-FSE/folio-fse.github.io">
		Download <i class="fab fa-github ml-2 "></i>
	</a>

	
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
More text on the docs and what they are fore

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
Something good with the docs

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/FOLIO-FSE" %}}
Something else good with the docs
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://folio.org" %}}
More stuff here
{{% /blocks/feature %}}


{{< /blocks/section >}}